/* Margin */
.marginTop { margin-top: 1rem }
.marginBottom { margin-bottom: 1rem }
.marginVertical { margin: 1rem 0 }
.marginHorizon { margin: 0 1rem }

/* Float */
.floatRight { float: right }

.header-menu {
  margin-bottom: 1rem;
}

.grid-content {
  min-height: 0.02px;
}

.subMenu {
  padding-left: 1rem;
}

/* Container */
.containerSubject {
  margin-bottom: 1rem;
  color: #202020;
  font-size: 1.2rem;
}

/* Element UI Customize */
.el-header,
.el-main,
.el-footer {
  padding: 0 !important;
}
.el-header {
  margin-bottom: 1rem !important;
}
.el-menu-item,
.el-submenu__title {
  border-bottom: 0 !important;
}
.el-menu-item svg {
  margin-bottom: 5px !important;
}
.el-aside {
  position: fixed;
  height: 100%;
  background: #FFF;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
  z-index: 10000;
}

/* Router Progress */
.page-enter-active, .page-leave-active {
  transition: opacity .1s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

/* Desktop */
@media (min-width: 1024px) {
  .hidden-desktop { display: none }
  .AD {
    width: 970px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

/* Mobile */
@media (max-width: 1023px) {
  .hidden-mobile { display: none }
  .AD {
    width: 100vw;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}